/* Configuração Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #121212; /* Fundo bem escuro */
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #1e1e1e; /* Fundo do card */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 450px;
    border-top: 5px solid #d4af37; /* Detalhe em Dourado/Barbearia */
}

h1 {
    text-align: center;
    color: #d4af37;
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
    color: #a0a0a0;
}

/* Estilo do Formulário */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #2c2c2c;
    border: 1px solid #444;
    border-radius: 8px;
    color: #fff;
    outline: none;
}

input:focus, select:focus {
    border-color: #d4af37;
}

/* Resumo do Pagamento */
.resumo-pagamento {
    background-color: #252525;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border-left: 4px solid #d4af37;
}

.resumo-pagamento p {
    margin-bottom: 5px;
    text-align: left;
    color: #fff;
}

#valor-sinal {
    color: #4caf50; /* Verde para destacar o valor que ele vai pagar */
    font-size: 18px;
}

/* Botão de Ação */
button {
    width: 100%;
    padding: 15px;
    background-color: #d4af37;
    color: #121212;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #b8962e;
    transform: translateY(-2px);
}

.card-agendamento {
    background: #1e1e1e;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    border-left: 4px solid #d4af37;
    transition: 0.3s;
}

.card-agendamento:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.card-agendamento p {
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
}

.card-agendamento strong {
    color: #d4af37;
}
.status {
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
}

/* Verde */
.status.confirmado {
    background: #d4edda;
    color: #155724;
}

/* Vermelho */
.status.cancelado {
    background: #f8d7da;
    color: #721c24;
}

/* Amarelo */
.status.pendente {
    background: #fff3cd;
    color: #856404;
}